#postcal-metabox-sample {
	display: none;
}

#postcal-metabox-add, .postcal-metabox-delete {
	text-decoration: none;
}

.postcal-metabox-delete {
	color: #a00;
}

.postcal-metabox-delete:hover {
	color: red;
}