.postcal-head {
	text-align: center;
}

.postcal-navigate {
	text-decoration: none;
}

.postcal-prev {
	float: left;
}

.postcal-next {
	float: right;
}

.postcal-container table {
	border-collapse: separate;
	border-color: RoyalBlue;
	border-radius: 2px;
	border-style: double;
	border-width: medium;
}

.postcal-container th, .postcal-container td {
	border: none;
	padding: 0px;
	text-align: center;
	vertical-align: middle;
}

.postcal-container th {
	background-color: SkyBlue;
	border-bottom-color: RoyalBlue;
	border-bottom-style: solid;
	border-bottom-width: thin;
}

td.postcal-today {
	background-color: SkyBlue;
	border-color: RoyalBlue;
	border-radius: 2px;
	border-style: solid;
	border-width: thin;
}

.postcal-nonempty {
	color: RoyalBlue;
	cursor: pointer;
	font-weight: bold;
}

.postcal-post {
	display: none;
}
