.postcal-widget .postcal-head {
	text-align: center;
}

.postcal-widget .postcal-head a {
	text-decoration: none;
}

.postcal-widget .postcal-prev {
	float: left;
}

.postcal-widget .postcal-next {
	float: right;
}

.postcal-widget .postcal-post {
	display: none;
}

.postcal-widget table {
	border-radius: 2px;
	border-style: solid;
	border-width: medium;
	border-color: #1976D2;
}

.postcal-widget th, .postcal-widget td {
	border: none;
	padding: 0px;
	text-align: center;
	vertical-align: middle;
}

.postcal-widget th {
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-bottom-color: #1976D2;
	background-color: #2196F3;
	color: white;
}

.postcal-widget td {
	background-color: #E3F2FD;
	color: black;
}

.postcal-widget .postcal-today {
	font-weight: bold;
}

.postcal-widget .postcal-nonempty {
	cursor: pointer;
	background-color: #90CAF9;
	color: black;
}

.postcal-widget .postcal-active {
	background-color: #0D47A1;
	color: white;
}
